<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="../css/all.css"> -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>
<body>
    <header></header>
    <main class="content-main">
        <div class="card"> 
            <div class="progressbar">
                <div class="bar" > </div>
            </div>
              
            <div class="card-header">
                <h3>Formulaire d'inscription Assemblée Générale Antsirabe</h3>
            </div>
            <div class="card-form">
                <form >
                    <div class="form-card">
                        <div>
                            
                            <div class="form-group">
                                <div><p>Tarif</p></div>
                
                                <input type="radio" id="stand" name="tarif" value="standard" >
                                <label for="stand">Standard</label>
                            </div>
                            <div class="form-group">
                
                                <input type="radio" id="prem" name="tarif" value="premium" checked>
                                <label for="prem">Premium</label>
                            </div>
                            <div class="form-group">
                
                                <input type="radio" id="vip" name="tarif" value="vip" >
                                <label for="vip">Vip</label>
                            </div>
                            <label for="nom">Nom</label>
                            <div class="form-group">
                                <input type="text" id="nom" v-model="firstname" placeholder="Rakotomanana">
                            </div>
                            <label for="prenom">Prénom </label>
                            <div class="form-group">
                                <input type="text" id="prenom" v-model="name" placeholder="Jean Doe">
                            </div>
                            <label for="email">Adresse email</label>
                            <div class="form-group">
                                <input type="text" id="email" v-model="email" placeholder="rakotomanana@gmail.com">
                            </div>
                            <label for="adress">Adresse</label>
                            <div class="form-group">
                                <input type="text" id="adress" v-model="adress" placeholder="Lot IIB 65ERM Andravoahangy Antananarivo">
                            </div>
                        </div>
                        <div>
                            
                            <div class="form-group">
                                <p>Age</p>
                                <div>
                                    <input type="radio" id="min" name="age" value="min" >
                                    <label for="homme">-18</label>
                                </div>
                                    <div>
                                        <input type="radio" id="maj" name="age" value="maj">
                                        <label for="maj">18-30</label>
                    
                                    </div>
                                    <div>
                    
                                        <input type="radio" id="adult" name="age" value="adult" >
                                        <label for="adult">Plus de 30</label>
                                    </div>
                                    
                                    
                                </div>
                                <div>
                                        <div class="form-group">

                                        <p>Sexe</p>
                                        <div>
                                            <input type="radio" id="homme" name="sexe" value="homme" >
                                            <label for="homme">Homme</label>
                                        </div>
                                        <div>
    
                                            <input type="radio" id="femme" name="sexe" value="femme">
                                            <label for="femme">Femme</label>
                                        </div>    
                                    </div>
                                    
                                    <label for="tel">Numéro de téléphone</label>
                                    <div class="form-group">
                                        <input type="text" id="tel" v-model="tel" placeholder="+261 34 56 968 96">
                                    </div>

                                    <label for="tel">Nom Facebook</label>
                                    <div class="form-group">
                                        <input type="text" id="tel" v-model="tel" placeholder="Jean Doe">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="valider" disabled> Valider </button>
                            </div>
                        </div>
                </form>
                
            </div>
        </div>
    </main>  
</body>
</html>
